<footer>
  <div class="wrap">
    <div class="footer-grid">
      <div>
        <h4>La revue</h4>
        <p class="manifesto">{{ .Site.Title }} est une revue militante basée à Poitiers.</p>
      </div>
      <div>
        <h4>Rubriques</h4>
        <ul>
          {{ range .Site.Params.rubriques }}
            {{ $page := site.GetPage (printf "rubriques/%s" (. | urlize)) }}
            {{ if $page }}
            <li><a href="{{ $page.RelPermalink }}">{{ . }}</a></li>
            {{ end }}
          {{ end }}
        </ul>
      </div>
      <div>
        <h4>La revue</h4>
        <ul>
          <li><a href="{{ (site.GetPage "pages/qui-sommes-nous").RelPermalink }}">Qui sommes-nous</a></li>
          <li><a href="#">Nous écrire (en développement)</a></li>
        </ul>
      </div>
    </div>
    <div class="legal">© {{ now.Year }} {{ upper .Site.Title }} — REVUE INDÉPENDANTE — TOUS DROITS RÉSERVÉS</div>
  </div>
</footer>
